<!--
  Generated template for the DescriptionHeroePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hero detail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card>
  
    <img src="{{ hero.thumb }}"/>
    <ion-item>
        <ion-icon item-end [name]="isFav ? 'heart' : 'heart-outline'" style="font-size:40px;" (click)="addDeleteFav()"></ion-icon>
    </ion-item>
    
    <ion-card-content>
      <ion-card-title>
        {{ hero.name }}
      </ion-card-title>
      <p>
        {{ hero.description }}
      </p>
    </ion-card-content>

</ion-card>
  
</ion-content>
