<ion-header>
  <ion-navbar>
    <ion-title>Recover password</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="resetpwdForm" (submit)="resetPwd()" novalidate>
    <ion-item style="margin-top:20px">
      <ion-label stacked>Email user</ion-label>
      <ion-input #email formControlName="email" type="email" (change)="elementChanged(email)"
        placeholder=""
        [class.invalid]="!resetpwdForm.controls.email.valid && (emailChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!resetpwdForm.controls.email.valid  && (emailChanged || submitAttempt)">
      <p>Enter a valid email</p>
    </ion-item>
    <button ion-button block type="submit" style="margin-top:20px;">
      Recover password
    </button>
  </form>
</ion-content>
