<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
      <ion-title>About</ion-title>
    </ion-navbar>
  </ion-header>


<ion-content padding>

    <img class="picpersonal" src="../../assets/imgs/foto_personal.png" style="width:150px; height:150px; margin: auto; margin-top: 30px"/>
    <p style="text-align: center;">
      Project developed by:
    </p>
    <p style="text-align: center; font-weight:bold">
      David Hontiveros Gordo
    </p>
    <p style="text-align: center;">
      Máster en Informático Móvil (MIMO) 2018-2019<br>
      <i>Tecnologías del lado del cliente HTML5</i>
    </p>
    <img class="picpersonal" (click)="openLinkedinURL()" src="../../assets/imgs/linkedin.png" style="margin-top:100px; margin:auto; width:73px; height:73px">

    <p style="text-align: center">
        <a href="mailto:davihontigor@gmail.com"  target="_top"><img src="../../assets/imgs/email_icon.png" style="width:75px; height:75px"></a>
    </p>
    

</ion-content>
