<ion-menu [content]="content" type="overlay" persistent="true">
  <ion-header>
    <ion-toolbar>   
      <ion-icon name="exit" float-right style="font-size:40px;background-color: transparent;justify-content: flex-end;" (click)="doLogout()"></ion-icon>
      <ion-title style="margin-top:30px">{{ userInfo.fullName }}</ion-title>
      <p style="margin-left:10px">{{ userInfo.email }}</p>
    </ion-toolbar>
  </ion-header>
 
  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>
 
</ion-menu>
 
<ion-nav [root]="rootPage" #content></ion-nav>