<ion-header>
  <ion-navbar hideBackButton="true">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Heroes</ion-title>
  </ion-navbar>
  <ion-toolbar *ngIf="loadedList===true">
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>
 
<ion-content class="home">
  <ion-list style="margin-top:70px;">
    <ion-item *ngFor="let hero of filteredHeroes" class="hero" (click)="getDescription(hero)">
      <ion-avatar item-left>
        <img src="{{ hero.thumbnail.path }}.{{ hero.thumbnail.extension }}">
      </ion-avatar>
      <h2>{{ hero.name }}</h2>
    </ion-item>
  </ion-list>
</ion-content>
