<!--
  Generated template for the DescriptionCreatorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Creator detail</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-card>
    
    <img src="{{ creator.thumb }}"/>
    <ion-item>
        <ion-icon item-end [name]="isFav ? 'heart' : 'heart-outline'" style="font-size:40px;" (click)="addDeleteFav()"></ion-icon>
    </ion-item>

    <ion-card-content>
      <ion-card-title>{{ creator.fullName }}</ion-card-title>
    </ion-card-content>

</ion-card>
</ion-content>
