<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Comics</ion-title>
  </ion-navbar>
  <ion-toolbar *ngIf="loadedList===true">
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>
 
<ion-content class="home">
  <ion-list style="margin-top:70px;">
    <ion-item *ngFor="let comic of filteredComics" class="comic" (click)="getDescription(comic)">
      <ion-avatar item-left>
        <img src="{{ comic.thumbnail.path }}.{{ comic.thumbnail.extension }}">
      </ion-avatar>
      <h2>{{ comic.title }}</h2>
    </ion-item>
  </ion-list>
</ion-content>