page-favorites {
    .title-warning{
        font-size: 16px;
        font-weight:bold; 
        text-align: center;
    }

    .lower-warning{
        font-size: 12px;
        font-style: italic; 
        text-align: center;
    }
}
