<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Favorites</ion-title>
  </ion-navbar>
</ion-header>
 
 <ion-content>
    <div padding>
      <ion-segment [(ngModel)]="type">
          <ion-segment-button value="heroes">
            Heroes
          </ion-segment-button>
          <ion-segment-button value="comics">
            Comics
          </ion-segment-button>
          <ion-segment-button value="creators">
            Creators
          </ion-segment-button>
      </ion-segment>
    </div>

    <div [ngSwitch]="type">
      
      <ion-list *ngSwitchCase="'heroes'" >
        <ng-container *ngIf="showFavHeroes===true">
          <ion-item *ngFor="let hero of favHeroesList" class="hero" (click)="getDescription(hero,'hero')">
            <ion-avatar item-left>
              <img src="{{ hero.thumb }}">
            </ion-avatar>
            <h2>{{ hero.name }}</h2>
          </ion-item>
        </ng-container>
        <ng-container *ngIf="showFavHeroes===false">
          <p padding class="title-warning">There are no selected favorite heroes</p>
          <p padding class="lower-warning">In order to mark your heroes as favorites, click on the corresponding icon in the detail of each one.</p>
        </ng-container>
      </ion-list>

      <ion-list *ngSwitchCase="'comics'">
        <ng-container *ngIf="showFavComics===true">
          <ion-item *ngFor="let comic of favComicsList" class="hero" (click)="getDescription(comic,'comic')">
            <ion-avatar item-left>
              <img src="{{ comic.thumb }}">
            </ion-avatar>
            <h2>{{ comic.title }}</h2>
          </ion-item>
        </ng-container>
        <ng-container *ngIf="showFavComics===false">
          <p padding class="title-warning">There are no favorite comics</p>
          <p padding class="lower-warning">To mark your heroes as favorites, click on the corresponding icon in the detail of each one.</p>
        </ng-container>
      </ion-list>

      <ion-list *ngSwitchCase="'creators'">
        <ng-container *ngIf="showFavCreators===true">
            <ion-item *ngFor="let creator of favCreatorsList" class="hero" (click)="getDescription(creator,'creator')">
              <ion-avatar item-left>
                <img src="{{ creator.thumb }}">
              </ion-avatar>
              <h2>{{ creator.fullName }}</h2>
            </ion-item>
          </ng-container>
          <ng-container *ngIf="showFavCreators===false">
            <p padding class="title-warning">There are no selected favorite creators</p>
            <p padding class="lower-warning">To mark your heroes as favorites, click on the corresponding icon in the detail of each one.</p>
          </ng-container>  
      </ion-list>
    </div>
</ion-content>

