<ion-header>

  <ion-navbar>
    <ion-title>Comic detail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    
    <img src="{{ comic.thumb }}"/>
    <ion-item>
        <ion-icon item-end [name]="isFav ? 'heart' : 'heart-outline'" style="font-size:40px;" (click)="addDeleteFav()"></ion-icon>
    </ion-item>
    <ion-card-content>

      <p class="printPrice">{{ comic.printPrice }} $ <ion-icon name="pricetag"></ion-icon></p>
      <p class="pageCount">{{ comic.pages }} pp <ion-icon name="book"></ion-icon></p>
      <ion-card-title>{{ comic.title }}</ion-card-title>
      <p>{{ comic.description }}</p>
    </ion-card-content>

</ion-card>
</ion-content>
