<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Creators</ion-title>
  </ion-navbar>
  <ion-toolbar *ngIf="loadedList===true">
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>
 
<ion-content class="home">
  <ion-list style="margin-top:70px;">
    <ion-item *ngFor="let creator of filteredCreators" class="creator" (click)="getDescription(creator)">
      <ion-avatar item-left>
        <img src="{{ creator.thumbnail.path }}.{{ creator.thumbnail.extension }}">
      </ion-avatar>
      <h2>{{ creator.fullName }}</h2>
    </ion-item>
  </ion-list>
</ion-content>
