<ion-content padding #mainPanel>
	<h2 style="margin-top:50px">Welcome to MARVEL-Ionic</h2>
	<form [formGroup]="loginForm" (submit)="loginUser()" novalidate>
	  <ion-item style="margin-top:50px">
		<ion-label stacked>Email user</ion-label>
		<ion-input #email formControlName="email" type="email" (change)="elementChanged(email)"
		  placeholder=""
		  [class.invalid]="!loginForm.controls.email.valid && (emailChanged || submitAttempt)"></ion-input>
	  </ion-item>
	  <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid  && (emailChanged || submitAttempt)">
		<p>Enter a valid email</p>
	  </ion-item>
	  <ion-item>
		<ion-label stacked>Password</ion-label>
		<ion-input #password formControlName="password" type="password" (change)="elementChanged(password)"
		  placeholder=""
		  [class.invalid]="!loginForm.controls.password.valid && (passwordChanged || submitAttempt)"></ion-input>
	  </ion-item>
	  <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid  && (passwordChanged || submitAttempt)">
		<p>Your password needs more than 6 characters</p>
	  </ion-item>
	  <button ion-button block type="submit">
		Log in
	  </button>
	</form>
  
	<button ion-button block clear (click)="register()">
	  Sign up here
	</button>
	<button ion-button block clear (click)="resetPwd()">
	  Forgot your password?
	</button>
  </ion-content>